<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lộc trời - bài đăng</title>
    <link
      href="https://cdn.quilljs.com/1.3.6/quill.snow.css"
      rel="stylesheet"
    />
    <style>
        * {
          font-family: 'Montserrat', 'Helvetica Neue', Arial, 'Lucida Grande',
            sans-serif;
        }

        body { margin: 0 }
        /*
        * CKEditor 5 (v12.4.0) content styles.
        * Generated on Mon, 21 Oct 2019 11:34:56 GMT.
        * For more information, check out https://ckeditor.com/docs/ckeditor5/latest/builds/guides/integration/content-styles.html
        */

        :root {
          --ck-image-style-spacing: 1.5em;
          --ck-todo-list-checkmark-size: 16px;
          --ck-primary: #2eaa3e;
        }

        /* ckeditor5-basic-styles/theme/code.css */
        .ck-content code {
          background-color: hsla(0, 0%, 78%, 0.3);
          padding: .15em;
          border-radius: 2px;
        }
        /* ckeditor5-image/theme/image.css */
        .ck-content .image {
          display: table;
          clear: both;
          text-align: center;
          margin: 1em auto;
        }
        /* ckeditor5-image/theme/image.css */
        .ck-content .image > img {
          display: block;
          margin: 0 auto;
          max-width: 100%;
          min-width: 50px;
        }
        /* ckeditor5-image/theme/imagecaption.css */
        .ck-content .image > figcaption {
          display: table-caption;
          caption-side: bottom;
          word-break: break-word;
          color: hsl(0, 0%, 20%);
          background-color: hsl(0, 0%, 97%);
          padding: .6em;
          font-size: .75em;
          outline-offset: -1px;
        }
        /* ckeditor5-image/theme/imageresize.css */
        .ck-content .image.image_resized {
          max-width: 100%;
          display: block;
          box-sizing: border-box;
        }
        /* ckeditor5-image/theme/imageresize.css */
        .ck-content .image.image_resized img {
          width: 100%;
        }
        /* ckeditor5-image/theme/imageresize.css */
        .ck-content .image.image_resized > figcaption {
          display: block;
        }
        /* ckeditor5-media-embed/theme/mediaembed.css */
        .ck-content .media {
          clear: both;
          margin: 1em 0;
          display: block;
          min-width: 15em;
        }
        /* ckeditor5-list/theme/todolist.css */
        .ck-content .todo-list {
          list-style: none;
        }
        /* ckeditor5-list/theme/todolist.css */
        .ck-content .todo-list li {
          margin-bottom: 5px;
        }
        /* ckeditor5-list/theme/todolist.css */
        .ck-content .todo-list li .todo-list {
          margin-top: 5px;
        }
        /* ckeditor5-list/theme/todolist.css */
        .ck-content .todo-list .todo-list__label > input {
          -webkit-appearance: none;
          display: inline-block;
          position: relative;
          width: var(--ck-todo-list-checkmark-size);
          height: var(--ck-todo-list-checkmark-size);
          vertical-align: middle;
          border: 0;
          left: -25px;
          margin-right: -15px;
          right: 0;
          margin-left: 0;
        }
        /* ckeditor5-list/theme/todolist.css */
        .ck-content .todo-list .todo-list__label > input::before {
          display: block;
          position: absolute;
          box-sizing: border-box;
          content: '';
          width: 100%;
          height: 100%;
          border: 1px solid hsl(0, 0%, 20%);
          border-radius: 2px;
          transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border;
        }
        /* ckeditor5-list/theme/todolist.css */
        .ck-content .todo-list .todo-list__label > input::after {
          display: block;
          position: absolute;
          box-sizing: content-box;
          pointer-events: none;
          content: '';
          left: calc( var(--ck-todo-list-checkmark-size) / 3 );
          top: calc( var(--ck-todo-list-checkmark-size) / 5.3 );
          width: calc( var(--ck-todo-list-checkmark-size) / 5.3 );
          height: calc( var(--ck-todo-list-checkmark-size) / 2.6 );
          border-style: solid;
          border-color: transparent;
          border-width: 0 calc( var(--ck-todo-list-checkmark-size) / 8 ) calc( var(--ck-todo-list-checkmark-size) / 8 ) 0;
          transform: rotate(45deg);
        }
        /* ckeditor5-list/theme/todolist.css */
        .ck-content .todo-list .todo-list__label > input[checked]::before {
          background: hsl(126, 64%, 41%);
          border-color: hsl(126, 64%, 41%);
        }
        /* ckeditor5-list/theme/todolist.css */
        .ck-content .todo-list .todo-list__label > input[checked]::after {
          border-color: hsl(0, 0%, 100%);
        }
        /* ckeditor5-list/theme/todolist.css */
        .ck-content .todo-list .todo-list__label .todo-list__label__description {
          vertical-align: middle;
        }
        /* ckeditor5-table/theme/table.css */
        .ck-content .table {
          margin: 1em auto;
          display: table;
        }
        /* ckeditor5-table/theme/table.css */
        .ck-content .table table {
          border-collapse: collapse;
          border-spacing: 0;
          border: 1px double hsl(0, 0%, 70%);
        }
        /* ckeditor5-table/theme/table.css */
        .ck-content .table table td,
        .ck-content .table table th {
          min-width: 2em;
          padding: .4em;
          border-color: hsl(0, 0%, 85%);
        }
        /* ckeditor5-table/theme/table.css */
        .ck-content .table table th {
          font-weight: bold;
          background: hsl(0, 0%, 98%);
        }
        /* ckeditor5-page-break/theme/pagebreak.css */
        .ck-content .page-break {
          position: relative;
          clear: both;
          padding: 5px 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        /* ckeditor5-page-break/theme/pagebreak.css */
        .ck-content .page-break::after {
          content: '';
          position: absolute;
          border-bottom: 2px dashed hsl(0, 0%, 77%);
          width: 100%;
        }
        /* ckeditor5-page-break/theme/pagebreak.css */
        .ck-content .page-break__label {
          position: relative;
          z-index: 1;
          padding: .3em .6em;
          display: block;
          text-transform: uppercase;
          border: 1px solid hsl(0, 0%, 77%);
          border-radius: 2px;
          font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
          font-size: 0.75em;
          font-weight: bold;
          color: hsl(0, 0%, 20%);
          background: #fff;
          box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15);
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
        /* ckeditor5-image/theme/imagestyle.css */
        .ck-content .image-style-side,
        .ck-content .image-style-align-left,
        .ck-content .image-style-align-center,
        .ck-content .image-style-align-right {
          max-width: 50%;
        }
        /* ckeditor5-image/theme/imagestyle.css */
        .ck-content .image-style-side {
          float: right;
          margin-left: var(--ck-image-style-spacing);
        }
        /* ckeditor5-image/theme/imagestyle.css */
        .ck-content .image-style-align-left {
          float: left;
          margin-right: var(--ck-image-style-spacing);
        }
        /* ckeditor5-image/theme/imagestyle.css */
        .ck-content .image-style-align-center {
          margin-left: auto;
          margin-right: auto;
        }
        /* ckeditor5-image/theme/imagestyle.css */
        .ck-content .image-style-align-right {
          float: right;
          margin-left: var(--ck-image-style-spacing);
        }
        /* ckeditor5-block-quote/theme/blockquote.css */
        .ck-content blockquote {
          overflow: hidden;
          padding-right: 1.5em;
          padding-left: 1.5em;
          margin-left: 0;
          margin-right: 0;
          font-style: italic;
          border-left: solid 5px hsl(0, 0%, 80%);
        }
        /* ckeditor5-block-quote/theme/blockquote.css */
        .ck-content[dir="rtl"] blockquote {
          border-left: 0;
          border-right: solid 5px hsl(0, 0%, 80%);
        }
        /* ckeditor5-horizontal-line/theme/horizontalline.css */
        .ck-content hr {
          border-width: 1px 0 0;
          border-style: solid;
          border-color: hsl(0, 0%, 37%);
          margin: 0;
        }
        @media print {
          /* ckeditor5-page-break/theme/pagebreak.css */
          .ck-content .page-break {
              padding: 0;
          }
          /* ckeditor5-page-break/theme/pagebreak.css */
          .ck-content .page-break::after {
              display: none;
          }
        }

        /* CUSTOM */
        .ck-content {
          padding: 8px 16px;
          color: #333;
        }
        .ck-content h4 {
          font-size: 1rem;
        }
        .ck-content h3 {
          font-size: 1.25rem;
        }
        .ck-content h2 {
          font-size: 1.5rem;
        }
        .ck-content h2, .ck-content h3, .ck-content h4 {
          color: var(--ck-primary);
          margin-top: 0;
        }
        .ck-content p {
          padding-bottom: 0.6rem;
        }
        @media (max-width: 768px) {
          .ck-content .image {
            float: none !important;
            margin: auto !important;
            width: 86% !important;
            padding-bottom: 0.5rem !important;
          }
        }
    </style>
  </head>
  <body>
    <div class="ck-content">
      <%- content %>
    </div>
  </body>
</html>
