<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Login</title>
</head>

<body>
  <div><span>Email:</span><input type="email" id="email" /></div>
  <div><span>Password:</span><input type="password" id="password" /></div>
  <p id="status" style="color: red"></p>
  <div><button onclick="verifyEmail()">Verify Email</button></div>
  <p id="fb-token" style="color: red"></p>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.2/firebase.js"></script>
  <script>
    var firebaseConfig = {
      apiKey: "AIzaSyBHmnSlq9EzJOZs31BCKHT4ehHgzWCtXIA",
      authDomain: "vai-luc-ngan-dashboard.firebaseapp.com",
      databaseURL: "https://vai-luc-ngan-dashboard.firebaseio.com",
      projectId: "vai-luc-ngan-dashboard",
      storageBucket: "vai-luc-ngan-dashboard.appspot.com",
      messagingSenderId: "601616408840",
      appId: "1:601616408840:web:d4c9edeb452e5375e24cbd",
      measurementId: "G-0FB1YD6QPY"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
  </script>
  <script>
    firebase.auth().useDeviceLanguage();
    firebase.auth().onAuthStateChanged(function (user) {
      if (user) {
        getToken();
      } else {
        // No user is signed in.
      }
    });
    function getToken() {
      firebase
        .auth()
        .currentUser.getIdToken(true)
        .then(idToken => {
          document.getElementById('fb-token').textContent = [
            'FB',
            firebase.auth().currentUser.uid,
            idToken
          ].join('|');
        })
        .catch(err => {
          document.getElementById('status').textContent = err.message;
        });
    }
    function verifyEmail() {
      var email = document.getElementById('email').value;
      var password = document.getElementById('password').value;
      firebase
        .auth()
        .signInWithEmailAndPassword(email, password)
        .then(function (confirmationResult) {
          document.getElementById('status').textContent = 'Đã xác thực';
          window.confirmationResult = confirmationResult;
          getToken();
        })
        .catch(function (error) {
          document.getElementById('status').textContent = error.message;
        });
    }
  </script>
</body>

</html>